# Introduction

Copyright

Distribution

In order to use the code the following libraries must be installed:
1. Pandas

In [1]:
import pandas as pd

# Input

In this section the following inputs are proceeded:
1. Input data file with information on ferry connections with
    - From: connection start harbour
    - To: connection end harbour
    - Distance: shortest direct distance between departure and arrival harbours

In [3]:
df_harbours = pd.read_csv("data_harbours_utf8.csv", sep = ";")

2. Manual terminal input and validation of 
    - Departure: overall itinerary departure ferry harbour 
    - Destination: overall itinerary arrival ferry harbour

In [ ]:
#Entering departure and arrival harbour
departure=  input(str("Please enter start harbour:"))
destination= input(str("Please enter destination harbour:"))

#Validating whether the entered harbours exist in the input file

# Preprocessing

In order to formulate the problem in a format accessible by the D-Wave libraries the matrix data is restructured to contain the information in an unstacked format.

In [5]:
# rename 'Column1' to 'From'
df_harbours=df_harbours.rename(columns={'Column1':"From"})

# transform end harbours in columns to rows
df_connections= pd.melt(df_harbours,id_vars=['From'],var_name="To",value_name='Distance')

# filter NaN-values
df_connections=df_connections[df_connections["Distance"].notnull()]

# filter out 0.0 values
df_connections=df_connections[df_connections.Distance != 0]

#reset index
df_connections=df_connections.reset_index(drop=True)
df_connections

           From           To  Distance
0   Brunsbüttel  Bremerhaven      81.0
1         Emden  Bremerhaven     137.0
2       Hamburg  Bremerhaven     117.0
3          Kiel  Bremerhaven     135.0
4        Wismar  Bremerhaven     585.0
..          ...          ...       ...
78      Hamburg    Immingham     376.0
79      Hamburg       London     428.0
80     Aberdeen       London     431.0
81    Rotterdam       Calais     129.0
82       Calais     Le Havre     119.0

[83 rows x 3 columns]

# Input validation

In this section the manual input is validated by the following criteria:
1. departure and destination harbour are part of the input